body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    background-color: #004d98; /* Barcelona Blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #004d98; /* Barcelona Blue */
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #ffdd00; /* Barcelona Accent Color */
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.item, .product-item, .contact-info {
    border: 1px solid #004d98;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.item img, .product-item img, .contact-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
